.bold {
    font-size: 1.5em;
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    page-break-after: always
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre4 {
    height: auto;
    width: 10em
    }
.calibre5 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre6 {
    display: block;
    line-height: 170%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre7 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre9 {
    line-height: 1.2
    }
.calibre10 {
    font-size: 0.79412em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-weight: bold
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    height: 1em;
    width: auto
    }
.calibre14 {
    height: auto;
    width: 12em
    }
.calibre15 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre16 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.centered {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.centered1 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.centered2 {
    display: block;
    font-size: 0.75em;
    line-height: 170%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.centered3 {
    display: block;
    line-height: 170%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.centered4 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.centered5 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.centered6 {
    display: block;
    text-align: center;
    text-indent: 0
    }
.font_patch {
    height: auto;
    width: 1em
    }
.kt {
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti"
    }
.kt1 {
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    line-height: 1.2
    }
.kt2 {
    color: #8c0000;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 1em
    }
.normalp {
    display: block;
    line-height: 170%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.normalp1 {
    display: block;
    line-height: 170%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-indent: 0
    }
.normalp2 {
    margin-top: 0.8em;
    text-indent: 0
    }
.normalp3 {
    display: block;
    font-size: 1em;
    line-height: 170%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.pagebreak {
    display: block;
    page-break-before: always
    }
.quote {
    display: block;
    font-size: 0.75em;
    padding-bottom: 0.5em;
    padding-left: 2.5em;
    padding-top: 0.5em
    }
.red {
    color: #8c0000
    }
.right {
    display: block;
    line-height: 170%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right
    }
.small {
    font-size: 0.75em
    }
.small1 {
    color: #8c0000;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 0.75em
    }
.small2 {
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 0.75em
    }
.small3 {
    color: #8c0000;
    font-family: "楷体", "STKai", "KaiTi", "MKai PRC", "Kai", "标楷体", "DFKai-SB", "BiauKai", "楷体_GB2312", "KaiTi_GB2312", "华文楷体", "STKaiti";
    font-size: 0.52941em
    }
.x-small {
    font-size: 1em
    }
