books/en/3/book - Copy.json.old
books/.DS_Store
books/.DS_Store
books/cn/.DS_Store
books/cn/43/.DS_Store
books/cn/24/.DS_Store
books/cn/.DS_Store
books/cn/100/.a.txt.swp
books/cn/100/.a.txt.swp
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
